<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

</head>
<body>
    <div>
        <h2 class="jumbotron text-center"><%= title %></h2>
    </div>

    <div >
        <div class="container"><a class="btn btn-info btn-block" href="/signup">Registration</a></div>
                
    </div>
    &nbsp;
    <div>
        <div class="container"><a class="btn btn-info btn-block" href="/login">Log In</a></div>
    </div>
</body>
</html>